---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ "" | dateIso }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for item in collections.contentPages %}
    {%- set depth = item.url.split("/").length - 2 %}
    {%- if depth <= 1 %}
      {%- set prio = "0.8" %}
    {%- elif depth == 2 %}
      {%- set prio = "0.7" %}
    {%- else %}
      {%- set prio = "0.6" %}
    {%- endif %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{{ prio }}</priority>
  </url>
  {%- endfor %}
</urlset>
